@font-face {
    font-family: 'Roboto-Custom';
    src: url('Roboto-Light.woff2') format('woff2');
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto-Custom', Arial, sans-serif;
    color: #fff;
    background-color: #111;
}

.bg {
    width: 100%;
    height: 100vh;
    background: url('1.avif') center/cover no-repeat;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.nav-links {
    display: flex;
    flex: 1;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    padding: 0 20px;
    display: flex;
}

.navbar img {
    width: 45px;
    height: 45px;
}

.navbar-text {
    font-size: 16px;
}

.discord-link {
    margin-left: auto;
}