@font-face {
   font-family: font;
   src: url(Roboto-Light.ttf);
}

* {
   font-family: font;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  }

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 17px;
  color: white;
  text-align: center;
  padding: 8px 20px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;  
  border: none;
  outline: none;
  color: white;
  padding: 8px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #0066cc;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 10px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #0073e6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body, html {
  height: 100%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  height: 100%; 
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img1 { background-image: url("7.webp"); }
.img2 { background-image: url("2.webp"); }
.img3 { background-image: url("1.jpg"); }
.img4 { background-image: url("4.webp"); }
.img5 { background-image: url("5.webp"); }
.img6 { background-image: url("3.jpg"); }
.img7 { background-image: url("6.jpg"); }

.bg-text {
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  font-size: 60px;
  border: 3px solid #f1f1f1;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 720px;
  padding: 1%;
  text-align: center;
}

.button2 {
    transition: all .4s ease;
    color: #fff;
    border: 2px solid white;
    text-align: center;
    line-height: 1;
    font-size: 30px;
    background-color : rgba(0,0,0, 0.4);
    padding: 20px;
    outline: none;
    border-radius: 40px;
	width: 200px;
}
.button2:hover {
    color: #001F3F;
    background-color: #fff;
}