@font-face {
    font-family: 'Roboto-Custom';
    src: url('Roboto-Light.woff2');
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto-Custom', Arial, sans-serif;
    color: #fff;
}

.bg {
    width: 100%;
    height: 100vh;
    background-image: url('1.avif');
    background-size: cover;
    background-position: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.nav-links {
    display: flex;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
}

.navbar img {
    width: 45px;
    height: 45px;
    display: block;
}

.navbar-text {
    font-size: 16px;
    color: #fff;
}